!!!
%html
  %head
  %body
    %div.top-wrapper
      %div.container
      %h1
        LEARN TO CODE
        %br LEARN TO BE CREATIVE.
      %p
        progateは無料のプログラミング学習サービスです。
        %br 初心者にもやさしいスライドとレッスンで、ウェブサービスを作りながらプログラミングを学んでいきましょう。
      %a.btn.signup{:href => '#'}新規登録はこちら
      %p or sign up with
      %a.btn.facebook{:href => '#'}
        %span.fa.fa-facebook Facebookで登録
      %a.btn.twitter{:href => '#'}
        %span.fa.fa-twitter Twitterで登録
    %div.lesson-wrapper
      %div.container
        %div.heading
          %h2 Learn Where to Get Started!
        %div.lessons
          %div.lesson
            %div.lesson-icon
              %img{src: 'http://prog-8.com/images/html/advanced/html.png'}
              %p HTML & CSS
            %p.txt-contents ウェブページの作成に使用される言語です。HTMLとCSSを組み合わせることで、静的なページを作り上げることができます。
          %div.lesson
            %div.lesson-icon
              %img{src: 'http://prog-8.com/images/html/advanced/jQuery.png'}
              %p jQuery
            %p.txt-contents 素敵な動きを手軽に実装できるJavaScriptライブラリです。 アニメーション効果をつけたり、Ajax（エイジャックス）を使って外部ファイルを読み込んだりと色々なことができます。
          %div.lesson
            %div.lesson-icon
              %img{src: 'http://prog-8.com/images/html/advanced/ruby.png'}
              %p Ruby
            %p.txt-contents オープンソースの動的なプログラミング言語で、 シンプルさと高い生産性を備えています。大きなWebアプリケーションから小さな日用ツールまで、さまざまなソフトウェアを作ることができます。
          %div.lesson
            %div.lesson-icon
              %img{src: 'http://prog-8.com/images/html/advanced/php.png'}
              %p PHP
            %p.txt-contents HTMLだけではページの内容を変えることはできません。PHPはHTMLにプログラムを埋め込み、それを可能にします。
    %div.message-wrapper
      %div.container
        %div.heading
          %h2 さぁ、あなたもProgateでプログラミングを学んでみませんか?
          %h3 Let's learn to code, learn to be creative!
        %span.btn.message さっそく開発する
